<header>
  <div class="container">

    <a routerLink="/" class="logo"><img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"></a>

    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/product">Features</a></li>
        <li><a href="#" routerLink="/list">Events</a></li>
        <li><a href="#" routerLink="/resources">Resources</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
