<h1>Welcome!</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-logo">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
      </div>
    </div>
    <div class="col mt-5 text-white">
      <div class="row text-center mt-5 pt-5">
          <div class="col">
            <h3>One framework.<br>Mobile &amp; desktop.</h3>
          </div>
      </div>
    <div class="row text-center">
          <div class="col">
            <a class="btn btn-primary" href="#" routerLink="/product">Get Started</a>
          </div>
    </div>
  </div>
      <div class="col"></div>

</div>
